
.reviewcard {
    border: 1px solid $lightgray;
    border-radius: 0.5em;
    box-shadow: 0 0 0.5em $lightgray;
    margin: 1em;
    padding: 0.5em;
    text-align: center;

    .character {
        font-size: 144px;
        font-weight: bold;
    }

    .card-btn {
        color: $lightgray;
        font-weight: bold;
        padding: 0.5em;

    }
}
