
$yellow-00: #f8f5c3;
$yellow-01: #fdf36f;
$yellow-02: #fedb00;

$green-00: #8ec94a;
$green-01: #1cb348;
$green-02: #2f5231;

$orange-01: #f47c46;

$clr-light: #f3f3f3;
$clr-page-bg: $yellow-02;
$clr-txt: #002030;
