
<h1>{{ level.name }} Review</h1>

<hr />

<kk-review-card level="level" character="level.characters[currentIndex]"></kk-review-card>

<hr />

<div class="container">
    <div class="row">

        <div class="col-xs-12 center">
            <div class="btn-group">
                <button class="btn btn-default"
                    ng-disabled="currentIndex < 1"
                    ng-click="first()">First</button>

                <button class="btn btn-default"
                    ng-disabled="currentIndex < 1"
                    ng-click="previous()">Prev</button>

                <button class="btn btn-default"
                    ng-disabled="currentIndex >= level.characters.length - 1"
                    ng-click="next()">Next</button>

                <button class="btn btn-default"
                    ng-disabled="currentIndex >= level.characters.length - 1"
                    ng-click="last()">Last</button>
            </div>
        </div>
    </div>
</div>

<hr />

<a class="btn btn-default" href="#/level/{{ level.id }}">Back</a>
