<div class="quiz">
    <h1>{{ level.name }} - Quiz</h1>

    <div class="card">
        <div class="card__front">
            <div class="card__text">
                {{ quizItems[currentIndex].jp }}
            </div>

        </div>

        <div class="card__back">
            <div class="card__text">
                {{ quizItems[currentIndex].en }}
            </div>

            <div class="card__btn pull-left" ng-click="flip()">
                <i class="fa fa-refresh"></i>
            </div>

            <div class="card__btn pull-right" ng-click="playSound($event)">
                <i class="fa fa-volume-up"></i>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">

    <div ng-repeat="candidate in candidates">
        <div class="col-xs-3">
            <div class="card card-sm"
                ng-click="checkGuess(candidate)">

                <div class="card__front"
                    ng-class="{'card__tried': tries.indexOf(candidate) > -1}">
                    <div class="card__text-sm">
                        {{ candidate.en }}
                    </div>
                </div>

            </div><!-- card -->
        </div><!-- col -->
    </div>

        </div><!-- row -->
    </div><!-- container -->

</div>
