<div class="reviewcard" ng-click="flip2()">


    <div class="card" ng-click="flip()" ng-class="{'flipped': showBack}">
        <div class="card__front">
            <div class="card__text">
                {{ character.jp }}
            </div>
        </div>

        <div class="card__back">
            <div class="card__text">
                {{ character.en }}
            </div>

            <div class="card__btn pull-right" ng-click="playSound($event)">
                <i class="fa fa-play"></i>
            </div>
        </div>

    </div>

</div>
